* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.LabelInput {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #747474;
}

input {
  border: 1px solid #747474;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #747474;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 5rem;
}

header > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

header > h1 > span {
  font-weight: 600;
  color: #12AAFF;
}

button {
  width: 160px;
  height: 44px;
  border: none;
  color: white;
  background-color: #12AAFF;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
}

button:active {
  background-color: #0177bb;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

article > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  padding-right: 10px;
  gap: 2.5rem;
  margin-left: 3rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.btn-div {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chart {
  width: 90%;
  height: 100%;

}

footer {
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

footer > p {
  color: #747474;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

